@using MvcCv.Models.Entity
@model List<TblHobilerim>
@{
    ViewBag.Title = "HobiListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Hobi Düzenleme Sayfası</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form method="post">
                                @foreach (var item in Model)
                                {
                                    <div class="row">
                                        <label>Açıklama 1</label>
                                        <textarea rows="5" class="form-control" name="Aciklama1">@item.Aciklama1</textarea>
                                        <br />
                                        <label>Açıklama 2</label>
                                        <textarea rows="5" class="form-control" name="Aciklama2">@item.Aciklama2</textarea>
                                        <br />
                                    </div>
                                    <br />
                                    <button class="btn btn-info">Güncelle</button>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

</div>