@model MvcCv.Models.Entity.TblSosyalMedya
@{
    ViewBag.Title = "SosyalMedyaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Sosyal Medya Güncelle</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form method="post">

                                <div class="row">
                                    @Html.HiddenFor(x => x.ID)
                                    <label>Sosyal Medya Ad</label>
                                    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
                                    <br />
                                    <label>Link</label>
                                    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
                                    <br />
                                    <label>Icon</label>
                                    @Html.TextBoxFor(x => x.Simge, new { @class = "form-control" })
                                    <br />


                                </div>
                                <br />
                                <button class="btn btn-info">Kaydet</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
